<% @title = "Credit where credit’s due" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>

<p>What made <%= site_name %> possible? #
Originally brought to life by The Freedom of Information Foundation NPC
<%= site_name %> runs <a href="http://alaveteli.org/">Alaveteli</a>, software created and released open-source by <a href="https://www.mysociety.org">mySociety</a>.
The Freedom of Information Foundation NPC supports the hosting of <%= site_name %>
 
<dl>
<dt id="FOIFconnection">What relationship does <%= site_name %> have with the The Freedom of Information Foundation NPC? </dt>
 <dd>The Freedom of Information Foundation NPC is providing hosting and technical support for the operation of the <%= site_name %> website. The The Freedom of Information Foundation has offered this support because it believes that access to information is an important institution and that the Okapi website is a valuable public service.
 </dd>

<dt id="helpus">Can I help out?<a href="#helpus">#</a></dt>
<dd>
 Yes please! We're built out of our supporters and volunteers.
 <ul> 
  <li>Details can be found at <a href="https://blog.okapi.org.za">blog.okapi.org.za</a></li>
  <li><dt id="volunteer">Become a volunteer <a href="#volunteer">#</a></dt></li>
  </ul>
  <dd>
    <p><%= site_name %> can be also be contacted at <%= link_to 'get in touch', help_contact_path %>.</p>
  </dd>
  <dd>
 </dd>

  <dd>
    <li>Help people find successful requests, and monitor performance of government and business, by <a href="<%= categorise_play_path %>">playing the categorisation game</a>.</li>
    <li>Find out PAIA email addresses of <a href="<%= help_requesting_path(:anchor => 'missing_bodies') %>">organisations that we're missing</a>.</li>
    <li>Write a blog post about either FYI or an interesting request that you've found. Post about it on a forum that you frequent. Tell friends about it.</li>
    <li>If you're a programmer, get the source code for our parent project, <a href="http://alaveteli.org/">Alaveteli</a> and tell us about patches we can pull. It's made in Ruby on Rails.</p>
    <li>Get involved with <%= site_name %> details can be found at <a href="https://blog.okapi.org.za">blog.okapi.org.za</a></li> 
 </dd>

</dl>
<div id="hash_link_padding"></div>

</div>
