<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>

    <dt id="which_authority">I'm not sure which public body to make my request to, how can I find out? <a href="#which_authority">#</a> </dt>

    <dd>
      <p>It can be hard to work out who holds the information that you want. Here are a few tips:
      </p>
      <ul>
        <li>Browse or search <%= site_name %> looking for similar requests to yours.</li>
        <li>When you've found a public body you think might have the information, use
          the "home page" link on the right hand side of their page to check what they do
          on their website.</li>
        <li>Contact the organisation by phone or email to ask if they hold the kind of
          information you're after.</li>
        <li>Don't worry excessively about getting the right organisation. If you get it
          wrong, they ought to advise you who to make the request to instead.
        </li>
        <li>If you've got a thorny case, please <a href="<%= help_contact_path %>">contact us</a> for help.</li>
      </ul>

    </dd>



    <dt id="missing_body">You're missing the public body that I want to request from! <a href="#missing_body">#</a> </dt>

    <dd>
      <p>Please <a href="<%= new_change_request_path %>">contact us</a> with the name of the organisation and,
        if you can find it, their contact email address for PAIA requests.
      </p>
      <p>If you'd like to help add a whole category of organisations to the site, we'd love
        to hear from you too.
      </p>

    </dd>

    <dt id="authorities">Why do you include some organisations that aren't formally subject to PAIA?<a href="#authorities">#</a> </dt>

    <dd>
      <p><%= site_name %> lets you make requests for information to a range of
        organisations:</p>

      <ul>
        <li> Those formally subject to the PAIA Act</li>
        <li> Those which voluntarily comply with the PAIA Act</li>
        <li> Those which aren't subject to the Act but we think should be, on grounds
          such as them having significant public responsibilities.
        </li>
      </ul>

      <p>In the last case, we're using the site to lobby for expansion of the
        scope of the PAIA Act. Even if an organisation is not legally obliged to respond
        to an PAIA request, they can still do so voluntarily.
      </p>

    </dd>

    <dt id="focused">Why must I keep my request focused?<a href="#focused">#</a> </dt>

    <dd>

      <p>
        Please put in your request only what is needed so that someone can
        easily identify what information you are asking for. Please do
        <i>not</i> include any of the following:
      </p>

      <ul>
        <li>arguments about your cause</li>
        <li>statements that could defame or insult others</li>
      </ul>

      <p>
        If you do, we may have to remove your request to avoid legal issues,
        which is a pain for both you and us. Short, succinct messages
        make it easier for authorities to be clear what information you are
        requesting, which means you will get a reply more quickly.
      </p>

      <p>
        If you want information to support an argument or campaign, PAIA is a powerful tool. 
        We encourage you to use it to get the information you need. We also encourage to run your campaign elsewhere 
        - one effective and very easy way is to <%= link_to 'start your own blog',
        "http://wordpress.com/"%>.
        <% if AlaveteliConfiguration::enable_annotations %>
          You are welcome to link to your campaign from this site in an
          annotation to your request (you can make annotations after submitting
          the request).
        <% end %>
      </p>

    </dd>

    <dt id="fees">Does it cost me anything to make a request?<a href="#fees">#</a> </dt>

    <dd>

      <p>Making an PAIA request can be free. But some organisations are allowed to charge a fee.</p>

      <p>Organisations often include unnecessary, scary, boilerplate in
        acknowledgement messages saying they "may" charge a fee. In many cases they will not charge a fee.
        If they do, they can only charge you if you have specifically agreed in advance to pay.  
        We, at <%= site_name %> try our best to assit with payments where we are able to do so. 
        We are always looking for donations that cover any costs the organisations ask for before they release information.
        Donating to help others afford a request is a valuable contribution to democracy. 
        <a
        href="https://blog.okapi.org.za/why-you-should-donate"/>Donate</a> 
       
      </p>

    </dd>



    <dt id="quickly_response">How quickly will I get a response? <a href="#quickly_response">#</a> </dt>

    <dd>
      <p>By law, organisations must respond <strong>promptly</strong> to
        requests.
      </p>

      <p>Even if they are not prompt, in nearly all cases they must respond within
        30 working days. If you had to clarify your request, or in other specific circumstances
        they may have more time (<a href="<%= help_officers_path(:anchor => 'days') %>">full details</a>).
      </p>
      <p><%= site_name %> will email you if you don't get a timely response.  You can
        then send the organisation a message to remind them, and tell them if they
        are breaking the law.</p>

    </dd>

    <dt id="no_response">What if I never get a response?<a href="#no_response">#</a> </dt>

    <dd>
      <p>There are several things you can do if you never get a response.</p>
      <ul>
        <li>Sometimes there has been a genuine problem and the organisation never
          received the request. It is worth telephoning the organisation and politely
          checking that they received the request. It was sent to them by email.
        </li>
        <li>If they have not received it, the problem is most likely due to
          "spam filters". Refer the organisation to the measures in the answer
          '<a href="<%= help_officers_path(:anchor => 'spam_problems') %>">I can see a request on <%= site_name %>, but we never got it by email!</a>'
          in the Information Officers section of this help.
        </li>
        <li>If you're still having no luck, then you can ask for an internal review,
          and then complain to the Information Regulator about the organisation.
          Read our page '<a href="<%= help_general_path(:action => 'unhappy') %>">Unhappy about the response you got?</a>'.
      </ul>
    </dd>

    <dt id="not_satifised">What if I'm not satisfied with the response? <a href="#not_satifised">#</a> </dt>
    <dd>If you didn't get the information you asked for, or you didn't get it in time,
      then read our page '<a href="<%= help_general_path(:action => 'unhappy') %>">Unhappy about the response you got?</a>'.
    </dd>

    <dt id="reuse">It says I can't re-use the information I got!<a href="#reuse">#</a> </dt>
    <dd>
      <p>Organisations often add legal statements which at first glance implies you may not
        be able do anything with the information.
      </p>

      <p>You can, of course, write articles about the information or summarise it, or
        quote parts of it. We also think you should feel free to republish the
        information in full, just as we do, even though in theory you might not be
        allowed to do so.  See <a href="<%= help_officers_path(:anchor => 'copyright') %>">our policy on copyright</a>.</p>
    </dd>

    <dt id="data_protection">Can I request information about myself? <a href="#data_protection">#</a> </dt>

    <dd>
      <p>No. Requests made using <%= site_name %> are public, made under PAIA, and cannot help you find information about a private
        individual.</p>

      <p>If you would like to know what information an organisation holds about yourself, you should make a request in
        terms of POPIA (Protection of Personal Information Act)</p>

      <p>If you see that somebody has included personal information, perhaps
        unwittingly, in a request, please <a href="<%= help_contact_path %>">contact us</a>
        immediately so we can remove it.</p>
    </dd>


    <dt id="private_requests">I'd like to keep my request secret! (At least until I publish my story) <a href="#private_requests">#</a> </dt>

    <dd><p><%= site_name %> is currently only designed for public requests. All
        responses that we receive are automatically published on the website for anyone
        to read.  </p>
      <p>You should contact the organisation directly if you would like to
        make a request in private.  If you're interested in buying a system which helps
        you manage PAIA requests in secret, then <a href="<%= help_contact_path %>">contact us</a>.
      </p>
    </dd>

    <dt id="multiple">Can I make the same to request to lots of organisations, e.g. all muncipalities? <a href="#multiple">#</a> </dt>

    <dd>We ask you to first send a test version of your request to a few
      organisations. Their responses will help you improve the wording of your request,
      so that you get the best information when you send the request to all of
      the organisations. There is currently no automated system for sending the request
      to the a group of organistions, you must copy and paste it by hand.

    </dd>

    <dt id="offsite">I made a request off the site, how do I upload it to the archive?<a href="#offsite">#</a> </dt>

    <dd><%= site_name %> is an archive of requests made through the site,
      and does not try to be an archive of all PAIA requests. 
      Some requests were made before Okapi was created these 
      requests can be found here <%= link_to 'Pre 2018 Request Archive',
      "https://blog.okapi.org.za/request-archive-pre-2018-requests/"%>.
          We welcome any organisation sending us the PAIA requests they have done for inclusion in the archive.</dd>


    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation">How do you moderate request annotations? <a href="#moderation">#</a> </dt>

      <dd>
        <p>Annotations on <%= site_name %> are to help
          people get the information they want, or to give them pointers to places they
          can go to help them act on it. We reserve the right to remove anything else.
        </p>
        <p>Endless, political discussions are not allowed.
          Post a link to a suitable forum or campaign site elsewhere.</p>
      </dd>
    <% end %>

  </dl>

  <p><strong>Next</strong>, read about <a href="<%= help_privacy_path %>">your privacy</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
