<% @title = "Unhappy about a PAIA request?" %>


<% if @info_request %>
  <h1>Unhappy about the response you got
    to your request '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1>Unhappy about the response you got?</h1>
<% end %>

<p>If ...</p>

<ul>
  <li>You didn't get a reply within 30 working days</li>
  <li>You did not get all of the information that you requested <strong>or</strong></li>
  <li>Your request was refused, but without a reason valid under the law</li>
</ul>

<p>... you can</p>

<ol>
  <li>Ask for an <strong>internal Appeal</strong> at the organisation.</li>
  <li>If that doesn't help, complain to the <strong>Information Regulator</strong>.</li>
  <li>Either way, also <strong>use other means</strong> to answer your question.</li>
</ol>

<h1 id="internal_review">1. Asking for an internal Appeal <a class="hover_a" href="#internal_review">#</a> </h1>

<p>
  <% if @info_request %>
    <%= link_to "Request an internal review", new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> and then write a message asking the authority to review your request.
  <% else %>
    At the bottom of the relevant request page on <%= site_name %> choose
    "request an internal appeal". Then write a message asking for an internal
    appeal of your request. You may want to include a link to the
    request page, to make it clear which request you are talking about.
  <% end %>
</p>

<p>Internal appeals should be quick. If one takes longer than 30 working days
  then the organisation should write and let you know. You will then either get 
  the information that you originally requested, or you will be told that the 
  review upholds the original decision.
</p>

<h1 id="complaining">2. Complaining to the Information Regulator <a class="hover_a" href="#complaining">#</a> </h1>

<p>If you are still unhappy after the organisation has done their internal review,
  then you can complain to the Information Regulator. To do this read
  <a href="http://www.justice.gov.za/inforeg/index.html">Complaints about PAIA</a>
  on the Information Regulators's website.
</p>

<p>To make it easier to send the relevant information to the
  Information Regulator, either
  <% if @info_request %>
    include a link to your request
    <strong><%=h request_url(@info_request) %></strong>
  <% else %>
    include a link to your request on <%= site_name %>
<% end %>
in your complaint or print out the whole page of your request and all attachments.
</p>

<p><%= site_name %> has no special facilities for handling a request at this stage - it
  passes into the Information Regulator's system. You can leave annotations on your
  request keeping people informed of progress.</p>

<p>You can also try and get the information by <strong>other means...</strong></p>

<h1 id="other_means">3. Using other means to answer your question <a class="hover_a" href="#other_means">#</a> </h1>

<p>You can try persuing your problem or your research in other ways.</p>

<ul>
  <li>Make a <strong>new PAIA request</strong> for summary information, or for
    documentation relating indirectly to matters in your refused request.
    <a href="<%= help_contact_path %>">Ask us for ideas</a> if you're stuck.</li>
  <li>If any <strong>other organisations</strong> are involved,
    then make PAIA requests to them.</li>
  <li>Write to <strong>a politician</strong> and ask for their help
     finding the answer.</li>
  <li> Try asking for information outside of South Africa, for example the EU 
    or individual countries in the EU or other countries.
       </li>
  <% end %>
  <li>Ask <strong>other researchers</strong> who are interested in a similar
    issue to yours for ideas. You can sometimes find them by browsing this site;
    contact any registered user from their page. There may be an Internet
    forum or group that they hang out in.</li>
  <li>You could form a small local or community campaign group and arrange a meeting
    with staff from the organisation.</li>
</ul>
